@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
html {
  padding: 0;
  background: #F6F7FC;
  overflow-x: hidden; }

.col-md-1.login-root img {
  background: #A9D3BD;
  padding: 17px;
  border-radius: 8px; }

body {
  background-color: #F6F7FC; }

.header-root {
  margin-top: 40px;
  z-index: 9999; }

.main-menu li {
  display: inline;
  margin-right: 40px;
  font-size: 20px; }

ul.main-menu {
  text-align: right;
  margin-top: 15px; }

ul.main-menu a {
  color: #5D5E5F; }

ul.main-menu a:hover {
  color: #807F7F;
  text-decoration: none; }

.logo-root {
  text-align: center;
  max-width: 100%; }

header {
  transition: all 1s; }

.header-alt {
  background: #000;
  margin-top: 0;
  position: fixed;
  top: 0;
  background: #636363;
  transition: all .5s; }

.header-alt {
  margin-top: 0;
  position: fixed;
  top: 0;
  background: #fff;
  transition: all .5s;
  width: 100%;
  padding: 10px 0px 0px;
  color: white !important;
  -webkit-box-shadow: 0px 0px 18px 0px #a9d3bd;
  -moz-box-shadow: 0px 0px 18px 0px #a9d3bd;
  box-shadow: 0px 0px 18px 0px #a9d3bd; }

.header-alt a {
  color: #5D5E5F !important; }

.header-alt a:hover {
  color: #807F7F !important; }

.main-title {
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 60px; }

.highlighted-title-color {
  color: #6FB98F; }

p.headline {
  font-size: 20px;
  font-weight: 600;
  color: #1B595A; }

.left-side-landing-holder {
  max-width: 77%;
  margin: 30vh auto; }

article.landing-header-root {
  margin: auto;
  margin-top: 50px; }

.right-side-landing-holder img {
  width: 90%;
  text-align: right; }

.right-side-landing-holder {
  text-align: right; }

.right-side-root {
  padding-right: 0; }

form.search-homepage-form {
  width: 70%; }

input.form-control {
  border: none;
  padding: 25px 10px;
  border-radius: 10px;
  margin-bottom: 55px; }

button.btn.btn-outline-secondary {
  background: #2c7873;
  color: #fff;
  padding: 0 30px;
  font-size: 20px; }

.section-distance {
  margin-top: 70px;
  margin-bottom: 90px; }

.featured-title, .standart-paragraph {
  text-align: center;
  font-weight: 300;
  color: #636363;
  margin-bottom: 60px;
  font-size: 17px; }

h4.featured-title {
  font-size: 40px;
  font-weight: 700;
  color: #3e3d3d;
  margin-bottom: 50px;
  font-size: 40px; }

.container.featured-content {
  text-align: center; }

.container.featured-content .col-md-4:first-child img {
  margin-bottom: 30px;
  background: #C3E8CF;
  padding: 40px;
  border-radius: 30px; }

.container.featured-content .col-md-4:nth-child(2) img {
  margin-bottom: 30px;
  background: #E9BFD0;
  padding: 40px;
  border-radius: 30px; }

.container.featured-content .col-md-4:last-child img {
  margin-bottom: 30px;
  background: #DDEAFA;
  padding: 40px;
  border-radius: 30px; }

.container.featured-content h5 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #3e3d3d; }

.container.featured-content h5 {
  text-align: center;
  font-weight: 500;
  color: #636363; }

.container.featured-content .col-md-4 {
  padding: 100px 30px 50px;
  border-radius: 30px;
  transition: all 1s; }

.container.featured-content .col-md-4:hover {
  padding: 100px 0;
  animation-name: cssAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-direction: normal;
  border: 1px solid #fff;
  margin-top: -60px; }

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
  to {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); } }
@-moz-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
  to {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); } }
@-o-keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px); }
  to {
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); } }
.container.featured-content .col-md-4:hover {
  padding: 100px 30px 50px;
  zoom: 1.1;
  -webkit-box-shadow: 10px 0px 20px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 0px 20px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 0px 20px -11px rgba(0, 0, 0, 0.75); }

article.feature-section-root.section-distance .col-md-12 img {
  text-align: center;
  /* width: 100%; */
  display: block;
  margin: 30px auto 50px;
  border-radius: 100px; }

article.feature-section-root.section-distance .col-md-4 {
  float: left; }

.container.featured-content p {
  margin-bottom: 0 !important; }

.about-section-image-holder {
  text-align: right; }

.about-section-image-holder img {
  border-radius: 30px; }

.about-section-text-holder {
  font-family: 'Open Sans';
  background: #EAF1FB;
  padding: 60px 60px;
  margin-top: 120px;
  /* color: #fff; */ }

article.about-section .col-md-5 {
  padding-right: 0 !important; }

article.about-section .col-md-7 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.about-section-text-holder img {
  background: #2B5796;
  padding: 30px;
  border-radius: 46px;
  /* width: 140px; */
  display: block;
  margin-bottom: 50px; }

.about-section-text-holder h4 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px; }

.about-section-text-holder p {
  font-size: 17px;
  font-family: 'Open Sans';
  color: #636363;
  font-weight: 300; }

.review-heading {
  text-align: center; }

.review-section {
  margin-top: 150px; }

.review-heading img {
  text-align: center;
  display: block;
  margin: 30px auto 50px;
  border-radius: 100px;
  background: #ffd800;
  padding: 30px; }

.user-review-users-img {
  text-align: center;
  display: block;
  margin: 170px auto 50px;
  width: 70%; }

.card {
  margin: 0 auto; }

.card .carousel-item {
  height: 200px; }

.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
  text-align: left; }

.card .carousel-caption p {
  line-height: 30px; }

.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center; }

.card .carousel-caption .col-sm-9 {
  text-align: left; }

.navi a {
  text-decoration: none; }

a > .ico {
  background-color: grey;
  padding: 10px; }

a:hover > .ico {
  background-color: #666; }

div#carouselExampleControls {
  width: 80%;
  margin: 0 auto; }

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0; }

.review-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: -43px; }

.review-text {
  font-size: 19px;
  font-weight: 100;
  color: #636363; }

.navi i {
  font-size: 30px;
  padding: 17px 25px;
  border: 1px solid;
  border-radius: 200px;
  color: #000;
  border-color: #dcdcdc;
  margin-right: 20px;
  -webkit-box-shadow: 0px 0px 23px 3px #c9cee5;
  -moz-box-shadow: 0px 0px 23px 3px #c9cee5;
  box-shadow: 0px 0px 23px 3px #c9cee5; }

footer {
  text-align: center;
  padding: 30px;
  background: #fff;
  font-size: 22px;
  position: relative; }

footer p {
  margin: 0; }

fieldset, label {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.5em;
  margin: 10px; }

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: none; }

.rating > input {
  display: none; }

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005"; }

.rating > .half:before {
  content: "\f089";
  position: absolute; }

.rating > label {
  color: #ddd;
  float: right; }

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700; }

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85; }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

body::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
  outline: 1px solid black; }

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

body::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid grey; }

img {
  max-width: 100%; }

@media screen and (max-width: 767px) {
  .col-md-8.main-menu-root {
    display: none; }

  .header-root {
    margin-top: 0px;
    z-index: 9999;
    padding-bottom: 15px; }

  .left-side-landing-holder {
    max-width: 100%;
    margin: 10vh auto;
    text-align: center; }

  form.search-homepage-form {
    width: 100%; }

  .col-xs-9.col-sm-3.col-md-1.login-root {
    text-align: center;
    margin-top: 30px; }

  .header-root .logo-root {
    text-align: center;
    max-width: 100%;
    margin-top: 20px; }

  .header-alt .logo-root {
    text-align: center;
    max-width: 100%;
    margin-top: 10px; }

  .col-xs-9.col-sm-3.col-md-1.login-root {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 70px;
    padding: 0;
    margin-right: 15px;
    top: -6px; }

  .col-xs-9.col-sm-3.col-md-1.login-root img {
    padding: 8px; }

  .about-section-image-holder {
    text-align: center; }

  .main-title {
    font-weight: 600;
    font-size: 27px; } }
@media screen and (min-width: 768px) {
  #menuToggle {
    display: none !important; } }
#menuToggle {
  display: block;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

ul#menu {
  padding-left: 70px; }

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

#menuToggle a:hover {
  color: tomato; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -70px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#menu li {
  padding: 10px 0;
  font-size: 22px; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

.offer-main-title img {
  text-align: center;
  display: block;
  margin: 30px auto 50px;
  border-radius: 100px; }

.offer-main-title {
  margin-top: 60px; }

* {
  font-family: 'Montserrat', sans-serif; }

.contact-form-title {
  margin-top: 80px;
  margin-bottom: 50px; }

textarea.form-control {
  height: auto;
  border: 0;
  border-radius: 10px; }

.contact-form-submit {
  text-align: right;
  padding: 10px 80px;
  margin-top: 4px;
  background: #004445;
  border: 1px solid #004445; }

.contact-form-submit:hover {
  text-align: right;
  padding: 10px 80px;
  margin-top: 4px;
  background: #A9D3BD;
  border: 1px solid #A9D3BD; }

.contact-form-submit-holder {
  text-align: right; }

.contact-form-map {
  margin-top: 90px;
  margin-bottom: 90px; }

.contact-form-map-info-paragraph {
  margin-top: 50px;
  font-size: 18px; }

.contact-form-map-info-holder {
  border-left: 3px solid green;
  padding-left: 30px; }

.about-us-main-title {
  border-bottom: 1px solid #000;
  padding-bottom: 30px; }

.about-us-main-subtitle {
  font-size: 23px;
  font-weight: 100;
  padding-top: 30px; }

.about-us-card h5 {
  color: #85b1b0;
  margin: 30px auto;
  font-weight: 600;
  font-size: 25px; }

.about-us-card {
  text-align: center;
  padding: 60px 50px;
  background: #fff;
  border-radius: 30px;
  margin-bottom: 50px;
  transition: all .5s; }

.about-us-card p {
  font-size: 20px;
  text-align: center;
  font-weight: 100; }

.about-page-distance {
  margin: 100px auto; }

.about-us-card:hover {
  border-top: 25px solid #EA5E5E; }

.about-us-card:hover h5 {
  color: #EA5E5E; }
