@import "_variables";
// master css
html{
  padding:0;
  background: $background-color ;
}
.col-md-1.login-root img {
    background: #A9D3BD;
    padding: 17px;
    border-radius: 8px;
}
body{
  background-color: $background-color;
}
.header-root {
    margin-top: 40px;
}
.main-menu li {
    display: inline;
    margin-right: 40px;
    font-size: 20px;
}
ul.main-menu {
    text-align: right;
    margin-top: 15px;
}
ul.main-menu a {
    color: #5D5E5F;
}
ul.main-menu a:hover {
    color: #807F7F;
    text-decoration: none;
}
.logo-root {
    text-align: center;
    max-width: 100%;
}
header{
  transition: all 1s;
}
.header-alt{
  background: #000;
  margin-top: 0;
  position: fixed;
  top:0;
  background:#636363;
  transition: all .5s;
}
.header-alt {
    margin-top: 0;
    position: fixed;
    top: 0;
    background: #fff;
    transition: all .5s;
    width: 100%;
    padding: 10px 0px 0px;
    color: white !important;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(169,211,189,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(169,211,189,1);
    box-shadow: 0px 0px 18px 0px rgba(169,211,189,1);
}
.header-alt a {
  color: #5D5E5F !important;
}
.header-alt a:hover {
  color: #807F7F !important;
}
