@import "_variables";
// master css
html{
  padding:0;
  background: $background-color ;
}
.col-md-1.login-root img {
    background: #A9D3BD;
    padding: 17px;
    border-radius: 8px;
}
body{
  background-color: $background-color;
}
.header-root {
    margin-top: 40px;
    z-index: 9999;
}
.main-menu li {
    display: inline;
    margin-right: 40px;
    font-size: 20px;
}
ul.main-menu {
    text-align: right;
    margin-top: 15px;
}
ul.main-menu a {
    color: #5D5E5F;
}
ul.main-menu a:hover {
    color: #807F7F;
    text-decoration: none;
}
.logo-root {
    text-align: center;
    max-width: 100%;
}
header{
  transition: all 1s;
}
.header-alt{
  background: #000;
  margin-top: 0;
  position: fixed;
  top:0;
  background:#636363;
  transition: all .5s;
}
.header-alt {
    margin-top: 0;
    position: fixed;
    top: 0;
    background: #fff;
    transition: all .5s;
    width: 100%;
    padding: 10px 0px 0px;
    color: white !important;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(169,211,189,1);
    -moz-box-shadow: 0px 0px 18px 0px rgba(169,211,189,1);
    box-shadow: 0px 0px 18px 0px rgba(169,211,189,1);
}
.header-alt a {
  color: #5D5E5F !important;
}
.header-alt a:hover {
  color: #807F7F !important;
}
.main-title {
    font-size: 60px;
    font-weight: 600;
}
.highlighted-title-color{
  color: $highlighted-title-color;
}
p.headline {
    font-size: 20px;
    font-weight: 600;
    color: #1B595A;
}
.left-side-landing-holder {
    max-width: 77%;
    margin: 30vh auto;
}
article.landing-header-root {
    margin: auto;
    margin-top: 50px;
}
.right-side-landing-holder img {
    width: 90%;
    text-align: right;
}
.right-side-landing-holder{
  text-align: right;
}
.right-side-root{
  padding-right: 0;
}
form.search-homepage-form {
    width: 70%;
}
input.form-control {
    border: none;
    padding: 25px 10px;
    border-radius: 10px;
}
button.btn.btn-outline-secondary {
    background: #2c7873;
    color: #fff;
    padding: 0 30px;
    font-size: 20px;
}
